.App {
  text-align: center;
}

@keyframes Logo {
  0% { -webkit-transform: translate(0px, 20px);}
  50% { -webkit-transform: translate(0px, -5px);}
  100% { -webkit-transform: translate(0px, 20px); }
}

.Home{
  width: 600px;
  text-align: center;
}

.Logo{
  width: 100px;
	height: 100px;
  align-self: center;
}

.LogoContainer{
  width: 150px;
	height: 150px;
}

.Topbar{
  width: 150px;
	height: 150px;
	box-sizing: border-box;
	overflow: hidden;
	transform: translatey(0px);
	animation: Logo 2s ease-in-out infinite;

}
.Title
{

}
.ImageContainer
{
  position: relative;
  text-align: center;

}
.ImageCaption
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color : #3FC1C9;
  
}

.CollabElement::after
{
  content: "";
  clear: both;
  display: table;
}
.Collab
{
  text-align: left;

}
/*
colors:
#FCF1F1
#FFD5CD
#F9813A
#1A1C20

#364F6B
#3FC1C9
#F5F5F5
#FC5185

*/
.ButtonLink
{
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a{
  color : #FC5185;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F5F5F5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3FC1C9;
}

.App-link {
  color: #364F6B;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
