.App {
  text-align: center;
}
/*
colors:
#FCF1F1
#FFD5CD
#F9813A
#1A1C20
*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a{
  color : #F9813A;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1A1C20;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FCF1F1;
}

.App-link {
  color: #F9813A;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
